.mp_tab, .mp_tab_panel{border:1px solid #777788;}
				
.mp_tab{line-height:48px;font-weight:700;}
.mp_tab:hover{cursor:pointer;}


.mp_tab{background-color:#E3F7FC;}
.mp_tab.mp_active{background-color:#FFFFFF;}


.mp_tab_panel{padding-top:5px;padding-bottom:0px;overflow:auto;transition:height .7s;}
.mp_tab_panel.mp_active{}


.mp_tab_panel.mp_not_active{height:0px !important}



				
.IS_MP_VERTICAL.mp_tab.mp_active{border-right:none;width:102%;z-index:10;}
.IS_MP_VERTICAL.mp_tab_panel{transition:none;}
.IS_MP_VERTICAL.mp_tab_panel.mp_active{display:block;}


.IS_MP_VERTICAL.mp_tab_panel{display:none;}




.IS_MP_HORIZONTAL.mp_tab.mp_active{border-bottom:none;background-color:white;}
.IS_MP_HORIZONTAL.mp_tab_panel{border-top:none;transition:none;}
.IS_MP_HORIZONTAL.mp_tab_panel.mp_active{display:block;}


.IS_MP_HORIZONTAL.mp_tab_panel{display:none;}



@media (min-width: 992px) {

.IS_MP_HORIZONTAL_RESP.mp_tab.mp_active{border-bottom:none;background-color:white;}
.IS_MP_HORIZONTAL_RESP.mp_tab_panel{border-top:none;transition:none;}
.IS_MP_HORIZONTAL_RESP.mp_tab_panel.mp_active{display:block;}


.IS_MP_HORIZONTAL_RESP.mp_tab_panel{display:none;}


.IS_MP_VERTICAL_RESP.mp_tab.mp_active{border-right:none;width:102%;z-index:10;background-color:white;}
.IS_MP_VERTICAL_RESP.mp_tab_panel{transition:none;}
.IS_MP_VERTICAL_RESP.mp_tab_panel.mp_active{display:block;}


.IS_MP_VERTICAL_RESP.mp_tab_panel{display:none;}



}